# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter notebooks, logs, coverage, etc.
.ipynb_checkpoints/
*.log
.coverage

# Virtual environments
.env/
.venv/

# Remove DS_Store Files on macOS
.DS_Store

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# others
*.bedgraph
*.bw
*.sizes
